<h1>Authentication Required</h1>

<p>You must specify a valid user.</p>

<form method="post" action="">
    <input type="text" name="auth" value="" />
    <input type="submit" value="Submit" />
</form>
