<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>NSFWeb Cards</title>
    <link rel="stylesheet" src="/assets/css/style.css" type="text/css" />
</head>
<body>

<%- body %>

</body>
</html>