
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/underscore.js"></script>
<script src="/assets/js/backbone.js"></script>
<script src="/assets/js/require.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
require.config({ baseUrl: '/src' });
$(document).ready(function(){
    require(["controller/room"], function(dispatch) {
        dispatch('<%= room %>');
    });
});
</script>

<script type="text/template" id="room-template">
    <section>
        Holy crap, really?
    </section>
</script>
