<h1>Start Game</h1>

<form>
    <fieldset>
        <label for="game-type">Game Type</label>
        <select id="game-type" name="type">
            <option>Choose one</option>
            <option value="bullshit">Bullshit</option>
            <option value="river">Up and Down the River</option>
            <option value="golf">Golf</option>
        </select>
    </fieldset>
</form>